<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Alfred Incrementのまとめサイト">
    <meta name="author" content="alfredplpl">

    <title>感情ログ</title>

    <!-- Bootstrap core CSS -->
    <link href="https://alfredplpl.github.io/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://alfredplpl.github.io/css/jumbotron.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css"><!--
      .jumbotron { background:#eaffd6;}
    --></style>

    <STYLE type="text/css">
      div.resizeimage img { width: 75%; height: 75%; }
    </STYLE>

  </head>

  <body class=".no-thank-yu">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Alf's Room</a>
        </div>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <br>
        <br>
        <br>
        <h1>感情ログサービスへ<br>ようこそ</h1>
        <p>こちらは現在の感情を記録するためのWebアプリです。すべてのラジオボタンに入力し、送信ボタンを押してください。</p>
      </div>
    </div>

    <div class="container">
      </div>
       <div class="row">
           <div class="col-xs-1 col-md-1 col-lg-1"></div>
         <div class="col-xs-2 col-md-2 col-lg-2">
             <div class="resizeimage"><img src="static/images/happy_man3.png" alt="very happy" ></div>
         </div>
        <div class="col-xs-2 col-md-2 col-lg-2">
             <div class="resizeimage"><img src="static/images/happy_man2.png" alt="happy" ></div>
         </div>
        <div class="col-xs-2 col-md-2 col-lg-2">
             <div class="resizeimage"><img src="static/images/happy_man1.png" alt="neutral" ></div>
         </div>
        <div class="col-xs-2 col-md-2 col-lg-2">
             <div class="resizeimage"><img src="static/images/unhappy_man2.png" alt="not happy" ></div>
         </div>
        <div class="col-xs-2 col-md-2 col-lg-2">
             <div class="resizeimage"><img src="static/images/unhappy_man3.png" alt="very not happy" ></div>
         </div>
        <div class="col-xs-1 col-md-1 col-lg-1"></div>
       </div>
        <div class="row">
           <div class="col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="valence" value="9" >
            </div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="valence" value="8" >
            </div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="valence" value="7" >
            </div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="valence" value="6" >
            </div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="valence" value="5" >
            </div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="valence" value="4" >
            </div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="valence" value="3" >
            </div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="valence" value="2" >
            </div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="valence" value="1" >
            </div>
           <div class="col-xs-1 col-md-1 col-lg-1"></div>
           <div class="col-xs-1 col-md-1 col-lg-1"></div>
        </div>
       <div class="row">
           <div class="col-xs-1 col-md-1 col-lg-1"></div>
         <div class="col-xs-2 col-md-2 col-lg-2">
             <div class="resizeimage"><img src="static/images/happy_man3.png" alt="very sleepy" ></div>
         </div>
        <div class="col-xs-2 col-md-2 col-lg-2">
             <div class="resizeimage"><img src="static/images/happy_man2.png" alt="sleepy" ></div>
         </div>
        <div class="col-xs-2 col-md-2 col-lg-2">
             <div class="resizeimage"><img src="static/images/happy_man1.png" alt="neutral" ></div>
         </div>
        <div class="col-xs-2 col-md-2 col-lg-2">
             <div class="resizeimage"><img src="static/images/unhappy_man2.png" alt="not sleepy" ></div>
         </div>
        <div class="col-xs-2 col-md-2 col-lg-2">
             <div class="resizeimage"><img src="static/images/unhappy_man3.png" alt="very not sleepy" ></div>
         </div>
        <div class="col-xs-1 col-md-1 col-lg-1"></div>
       </div>
        <div class="row">
           <div class="col-xs-1 col-md-1 col-lg-1"></div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="arousal" value="1" >
            </div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="arousal" value="2" >
            </div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="arousal" value="3" >
            </div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="arousal" value="4" >
            </div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="arousal" value="5" >
            </div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="arousal" value="6" >
            </div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="arousal" value="7" >
            </div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="arousal" value="8" >
            </div>
            <div class="col-xs-1 col-md-1 col-lg-1">
                <input type="radio" name="arousal" value="9" >
            </div>
           <div class="col-xs-1 col-md-1 col-lg-1"></div>
           <div class="col-xs-1 col-md-1 col-lg-1"></div>
        </div>
        <div class="row">
           <div class="col-xs-5 col-md-5 col-lg-5"></div>
           <div class="col-xs-2 col-md-2 col-lg-2">
               <input type="submit" value="送信">
           </div>
           <div class="col-xs-5 col-md-5 col-lg-5"></div>
        </div>
      <hr>

      <footer>
        <p>&copy; 2019 Alfred Increment (alfredplpl) powered by <a href="https://rinhoshizo.la/"> Rin </a> Based on Bootstrap .</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://alfredplpl.github.io/js/bootstrap.min.js"></script>
  </body>
</html>

